@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Northwind manager</h1>

<h3>To start select one of the following items:</h3>

<ul>
    <li>
        @Html.ActionLink("Categories", "Categories", "Home", new { @class = "btn button indexbtn" })
    </li>
    <li>
        @Html.ActionLink("Suppliers", "Suppliers", "Home", new { @class = "btn button indexbtn" })
    </li>
    <li>
        @Html.ActionLink("Houses of Hogwarts", "Houses", "Home", new { @class = "btn button indexbtn" })
    </li>
</ul>
