.table-hover tbody tr:hover {
  background-color: rgba(193, 150, 218, 0.7);
  color: rgb(58, 11, 48);
}

.list-categ{
  text-align: center;
}

.add{
  text-align: start;
  margin-left: 40px;
  margin-bottom: 20px;
}

thead{
  font-size: 18px;
}
h1 {
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  color: rgb(58, 11, 48);
  margin-bottom: 30px;
 }
 h1:before,
 h1:after {
  background-color: rgb(51, 8, 77);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
 }
 h1:before {
  right: 0.5em;
  margin-left: -50%;
 }
 h1:after {
  left: 0.5em;
  margin-right: -50%;
 }


 .back{
  text-align: end;
  margin-right: 80px;
  margin-bottom: 30px;
}
