<!-- Remove the container if you want to extend the Footer to full width. -->
  <footer>
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Northwind</h5>
        <p>
          Thanks for using our manager for Northwind database
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Links</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="mb-1">
            <a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories List</a>
          </li>

          <li class="mb-1">
            <a routerLink="/suppliers" routerLinkActive="active" ariaCurrentWhenActive="page">Suppliers List</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Vicki
  </div>
  <!-- Copyright -->
</footer>
